<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">iPhone</a></h1>
        </div>

        <div>
            <p>Опубликованно: 28.11.2019, 18:23</p>
            <h2><a href="">Apple iPhone 11 Pro</a></h2>
            <p>Выпущенный 10 сентября 2019 года мобильный телефон стал воплощением самых инновационных разработок американской корпорации. «Яблочный» коммуникатор с новой тройной камерой открывает перед пользователями огромные перспективы в области профессиональных фотографий. Широкоформатный Super Retina дисплей и высокопроизводительная операционная система позволили iPhone 11 Pro 256 GB Midnight Green получить огромную популярность среди десятков миллионов покупателей со всего мира. Предлагаемый коммуникатор станет незаменимым помощником, как в рабочих, так и в домашних условиях.

Благодаря стандарту IP68 гаджет надежно защищен при 30-минутном погружении в воду глубиной не более четырех метров. Красивый прочный корпус флагмана из матового стекла и нержавеющей стали придется по вкусу каждому ценителю изысканного внешнего вида. Модель комплектуется 18-ваттным адаптером, который способен зарядить литий-ионную батарею до 50% всего на протяжении получаса. Благодаря режиму совместного прослушивания к смартфону можно подключить сразу две пары наушников AirPods или гарнитуры Beats.</p>
        </div>

        <div>
            <p>Опубликованно: 28.11.2019, 18:24</p>
            <h2><a href="">Apple iPhone 11 Pro Max</a></h2>
            <p>Презентованный американский коммуникатор удивил поклонников отличными эксплуатационными параметрами и огромным 6,5-дюймовым экраном. Профессионалы корпорации Apple оборудовали флагман мощнейшим процессором, обновленной тройной фотокамерой, надежным корпусом и стеклянной задней панелью. iPhone 11 Pro Max 256 GB Gold хорошо подойдет, как для офисной работы с документами и развлечений, так и для регулярного домашнего применения.

Смартфон поддерживает усовершенствованную функцию Face ID, которая дает возможность разблокировать его, совершить приобретения в App Store, а также запустить приложения с одного взгляда. Благодаря наличию 18-ваттного адаптера можно подзарядить литий-ионную батарею устройства до 50% в течение 30 минут. Гаджет оснащен суперсовременным барометром, датчиком приближения, гироскопом, детектором степени внешней освещенности, компасом.</p>
        </div>
    </body>
</html>